<h1>Display your Pirate here</h1>
  <p><%= @pirate.name %></p>
  <p><%= @pirate.weight %></p>
  <p><%= @pirate.height %></p>

<h2>Display your first ship here</h2>
  <p><%= @classes[0].name %></p>
  <p><%= @classes[0].type %></p>
  <p><%= @classes[0].booty %></p>

<h2>Display your second ship here</h2>
  <p><%= @classes[1].name %></p>
  <p><%= @classes[1].type %></p>
  <p><%= @classes[1].booty %></p>
